/*
  --------------------------------
  Account Register
  --------------------------------
*/
.accountRegister
  margin 0 auto
  background #fff
  padding 5% 20px;
  &-form
    padding-top 15px;
    display: flex;
    flex-direction: column;
    box-orient: vertical;
    box-direction: normal;
    &__item
      margin-top 15px
      &:first-child
        margin-top 0px
  &__message
    color #f12938
    padding-top 15px;
    font-size 1.2rem
  .tca
    text-align center
  