/*
  --------------------------------
  Account Edit
  --------------------------------
*/
.accountEdit
  padding 0 20px;
  &-preview
    width 200px;
    margin-bottom 10px;
    img
      width 100%
      height auto
  &__message
    color #f12938
    padding-top 15px;
    font-size 1.2rem
  &-form
    &__item
      margin-top 10px;
      font-size 1.5rem
      vertical-align top
      &:first-child
        margin-top 0px;
      span
        display block
        margin-bottom 5px;
      input[type="text"]
      input[type="email"]
      input[type="password"]
      textarea
        width 100%
        border 1px solid #aaa
        border-radius 5px
        padding 5px;
        background #fff
    &__submit
      width 120px;
      height 120px;
      margin 30px auto 0