h1,
h2,
h3,
h4,
h5,
p,
div,
ul,
li,
header,
article,
section,
main,
nav
  padding: 0
  margin: 0
li
  list-style: none
canvas
  display: block
html
  font-size: 62.5%
  letter-spacing: 0.025em
img
  vertical-align: top
a
  text-decoration: none
  cursor pointer  
  color: #125688
.cf:before
.cf:after
  display: table;
  content: ' ';
.cf:after
  clear: both;
html,body
  width: 100%
  height:100%
#root
  background-color: #fafafa
  width: 100%
  margin 0 auto
  min-height:100%
  position: relative;

/*
  --------------------------------
  Loader
  --------------------------------
*/

.loader__wrap
  position absolute
  top 0
  left 0
  width 100%
  min-height 100%;
  background rgba(255,255,255,0.9);
  display none;  

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #125688;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/*
  --------------------------------
  Placeholder Style
  --------------------------------
*/
placeholder-style=#aaa
input
  &::-webkit-input-placeholder
    color: placeholder-style;
  &::-moz-input-placeholder
    color: placeholder-style;
  &::input-placeholder
    color: placeholder-style;

/*
  --------------------------------
  Error Message
  --------------------------------
*/
.errorMessage
  color #f12938
  padding 5px 0 0 5px
  

/*
  --------------------------------
  header
  --------------------------------
*/
.header
  background-color: #fff
  border-bottom 1px solid #eee
  padding 25px 0px;
  &__wrap
    position: relative
    width: 100%
    max-width: 600px
    margin: 0 auto
    padding:0 20px 
  &__logo
    position: relative
  &__devide
    position: absolute;
    top: 52%;
    left: 192px;
    width: 1px;
    height: 20px;
    margin-top: -10px;
    background-color: #262626;
  &__title
    position absolute
    top 50%
    left 80px
    font-size: 16px
    font-size: 1.6rem
    font-weight: bold
    color: #262626
    line-height 1em;
    text-decoration: none
    transform translate(0px,-50%);
  &__category
    position absolute
    top 52%
    left 202px    
    font-size: 13.5px
    font-size: 1.35rem
    color: #125688
    line-height 1em;
    font-weight: bold
    transform translate(0px,-50%);
    
/*
  --------------------------------
  Global Navigation
  --------------------------------
*/
.gnav
  width: 100%
  background-color #fff
  border-bottom 1px solid #eee
  margin-bottom 20px;
  &__items  
    position: relative
    width: 100%
    max-width: 600px
    overflow-x scroll
    margin: 0 auto
    letter-spacing -.40em
    text-align left
    padding:0 20px    
  &__item 
    easing()
    display inline-block
    padding 15px 0;
    font-size 1.5rem
    letter-spacing normal
    margin-left 20px;
    cursor pointer
    &:hover
      easing()
      opacity .5
    &:first-child
      margin-left 0px;
/*
  --------------------------------
  ngAnimate
  --------------------------------
*/

.pushNotification.ng-enter
  easing()
  transform translate(0,-100%)
.pushNotification.ng-enter.ng-enter-active
  transform translate(0,0%)

.pushNotification.ng-leave
  easing()
  transform translate(0,0%)
.pushNotification.ng-leave.ng-leave-active
  transform translate(0,-100%)


/*
  --------------------------------
  Contents
  --------------------------------
*/
.contents
  position relative
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

/*
  --------------------------------
  Button
  --------------------------------
*/
.button_type_circle
  a
  button
    position: relative;
    width: 120px;
    height: 120px;
    display table
    cursor pointer
    &:before
      height: 120px
      width: 120px
      border-radius: 50%
      border-style: solid
      border-width: 2px
      box-sizing: border-box
      content: ''
      left: 0
      position: absolute
      top: 0
      border-color: #125688
    span
      display: table-cell
      font-size: 12px
      padding: 0 9px
      position: relative
      text-align: center
      vertical-align: middle
      z-index: 1
      color: #125688
      width: 120px
.button_type_square
  width 100%
  text-align center
  
  a,
  button
    cursor pointer
    display block
    width 100%
    border 1px solid #edeeee
    padding: 12px 8px 10px;
    border-radius:5px;
    background #125688
    color #fff
    font-size 1.3rem      
/*
  --------------------------------
  Form
  --------------------------------
*/
.form
  padding-top 15px;
  display: flex;
  flex-direction: column;
  box-orient: vertical;
  box-direction: normal;
  &__item
    margin-top 10px;
    font-size 1.5rem
    vertical-align top
    &:first-child
      margin-top 0px;    
    span
      font-size 1.5rem
      display block
      margin-bottom 5px;
[type='email']
[type='text']
[type='password']
textarea
  font-size: 1.2rem;
  width: 100%;
  padding: 9px 8px 7px;
  border: 1px solid #edeeee;
  border-radius: 5px;
  background: #fdfdfd;
select
  font-size: 1.2rem;  
  padding: 9px 8px 7px;
  border: 1px solid #edeeee;
  border-radius: 5px;
  background: #fdfdfd;
input[type='checkbox']
  margin-right 5px;

.item_type_radio
  font-size 1.1rem
.ranks_type_parallel
  &__items
    margin-top 40px!important;
    text-align:center
  &__item
    margin 0 0 0 20px!important
    display inline-block
    &:first-child
      margin 0 0 0 0px!important      



/*
  --------------------------------
  footer
  --------------------------------
*/
.footer
  width: 100%
  max-width: 600px
  margin: 50px auto 0
  padding-bottom: 30px
  &__license
    text-align: center

// .loader
//   display:none
//   position:fixed
//   top:0
//   left:50%
//   width: 100%
//   height:100%
//   min-heiht:100%
//   max-width: 600px
//   transform: translate(-50%,0);
//   background-color:#fff
//   z-index:10
//   &__inner
//     position: absolute;
//     top:50%
//     left:50%
//     transform: translate(-50%,-50%)
//   &__img
//     width: 70%
//     margin:0 auto
//     img
//       width: 100%
//       height:auto

//   &__txt
//     margin-top:5px
//     font-size: 9px
//     font-size: 0.9rem
//     line-height:1.0em
//     text-align:center
//     color: #125688
//     font-weight:bold

/*
  --------------------------------
  Push Notification
  --------------------------------
*/  
.pushNotification
  position fixed
  top 0
  right 0
  width 100%
  background #125688
  color #fff
  padding 15px;
  font-size 1.3rem
  text-align center
  &__debug
    position: fixed
    bottom 0
    right 0 
    color:#fff
  &__debugBtn1
  &__debugBtn2
    float left
    background #000
    padding 20px;
  &__debugBtn1
    border-right 1px solid #fff
.pushNotification.ng-enter
    easing(.45s,5s)
    opacity:0;
.pushNotification.ng-enter.ng-enter-active
    easing(.45s)
    opacity:1;
