/*
  --------------------------------
  create
  --------------------------------
*/
.create
  &__item
    border: 1px solid #edeeee
    margin-top: 60px
    background: #fff
    &:first-child
      margin-top: 0px
  &__imageEditor
    position: relative
  &__iconImg
    position: absolute
    top: 0
    left: 0
  &__iconImgInner
    position: relative
  &__imageBase
    img
      width: 100%
  &__itemHead
    display: none
  &__generate__btn
    display: none
  &__editorCtrl
    display: none
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    overflow-scrolling: touch;
    height: 120px;    
  &__name
    font-size: 16px
    font-size: 1.6rem
    margin-top: 30px
    margin-left: 20px
    margin-bottom: 20px
    input
      width: 90%
      background: #e5e5e5
      border-radius: 15px
      border: solid 1px #edeeee
      font-size: 14px
      height: 40px
      outline: none
      padding: 3px 10px 3px 26px
      z-index: 2
  &__editKey
    margin-top: 2px
    font-size: 10.5px
    font-size: 1.05rem
    margin-left: 20px
    margin-bottom: 20px
    text-decoration: underline
    input
      width: 90%
      background: #e5e5e5
      border-radius: 15px
      border: solid 1px #edeeee
      font-size: 14px
      height: 40px
      outline: none
      padding: 3px 10px 3px 26px
      z-index: 2
  &__setterName
    margin-top: 2px
    font-size: 10.5px
    font-size: 1.05rem
    margin-left: 20px
    margin-bottom: 20px
    text-decoration: underline
    input
      width: 90%
      background: #e5e5e5
      border-radius: 15px
      border: solid 1px #edeeee
      font-size: 14px
      height: 40px
      outline: none
      padding: 3px 10px 3px 26px
      z-index: 2
  &__grade
    font-size: 14px
    font-size: 1.4rem
    margin-left: 20px
    margin-bottom: 20px
    select
      background: #e5e5e5
      border-radius: 15px
      border: solid 1px #edeeee
      font-size: 14px
      height: 40px
      outline: none
      padding: 3px 10px 3px 26px
      z-index: 2
  &__imageInput
    margin-left: 20px
    margin-top: 20px
    margin-bottom: 30px
    div
        position:relative
        overflow:hidden
        background: none
        color: #125688
        border: 3px solid #125688
        padding: 7px 20px
        border-radius: 30px
        font-size: 10px
        display:inline-block

    form
      margin-top:10px
      input[type=file]
        position:absolute
        top:0
        left:0
        width:100%
        height:100%    
        cursor:pointer
        opacity:0
        

  &__iconList
    text-align: center
    width 120*16px;
  &__iconItem
    display: inline-block
    width: 120px
    // border: 5px solid #fff
    padding: 10px
    img
      width: 100%
  .type_of_kante
    &:after
      content: "\000A";
      white-space: wrap;
    
  &__iconItem--active
    border: 5px solid #4090db !important
  &__btns
    width: 280px
    width: 120px;
    margin: 50px auto 0
    padding-bottom: 50px
  &__registerBtn
    width: 120px
    height: 120px
    display: none
    position: relative
    float: left
    &:before
      height: 120px
      width: 120px
      border-radius: 50%
      border-style: solid
      border-width: 2px
      box-sizing: border-box
      content: ''
      left: 0
      position: absolute
      top: 0
      border-color: #4090db
  &__registerLink
    display: table-cell
    font-size: 12px
    padding: 0 9px
    position: relative
    text-align: center
    vertical-align: middle
    z-index: 1
    color: #4090db
  &__backBtn
    width: 120px
    height: 120px
    display: table
    position: relative
    // float: right
    &:before
      height: 120px
      width: 120px
      border-radius: 50%
      border-style: solid
      border-width: 2px
      box-sizing: border-box
      content: ''
      left: 0
      position: absolute
      top: 0
      border-color: #4090db
  &__backLink
    display: table-cell
    font-size: 12px
    padding: 0 9px
    position: relative
    text-align: center
    vertical-align: middle
    z-index: 1
    color: #4090db


.overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  display: none
  z-index:9999
  &__bg
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(255, 255, 255, 0.8)
  &__result
    position: relative
    text-align: center
    &Img
      display:none
      margin:0 auto
    canvas
      margin:0 auto;
      position:absolute
      visibility:hidden
  &__closeBtn
    font-weight: bold
    margin: 70px 0 20px 0
    position: relative
    text-align: center
    font-size: 30px
    font-size: 3.0rem
    color: #125688
    cursor: pointer
    

@media screen and (max-width: 639px)
  .create
    padding-top: 0px
    &__item
      border: 0px solid #edeeee !important
      background: none !important
    &__name
      input
        width: 83%
    &__setterName
      input
        width: 83%
    &__grade
      margin-top: 25px
    &__itemHead
      background: #fafafa
    // &__iconItem
    //   width: 60px
// .ui-icon,
// .ui-widget-content .ui-icon
//   background-color: rgba(255,255,255,0.2)
//   transform: translate(15px,15px)