/*
  --------------------------------
  Login
  --------------------------------
*/
.login
  margin 0 auto
  background #fff
  padding 5% 20px;
  &-form
    display: flex;
    flex-direction: column;
    box-orient: vertical;
    box-direction: normal;
    &__item
      margin-top 15px
      &:first-child
        margin-top 0px
  &__createUser
      margin-top 10px;
  &__message
    color #f12938
    padding-top 15px;
    font-size 1.2rem


  