/*
  --------------------------------
  Project
  --------------------------------
*/
.project
  &__searchInput
    position relative
    width 50%
    margin 0 auto
    background-color #eee
    border 1px solid #aaa
    border-radius 5px
    overflow hidden
    input
      @include placeholderColor(#000000);
      width 100%
      height 2.5em
      padding 0 2%
      color #555
      font-size 1.3rem
      padding 0 0 0 26px
      position relative
    &:before
      z-index: 1;
      content ""
      display block
      position absolute
      top 50%
      left 7px;
      margin-top -8px
      width 14px
      height 14px
      background url('../img/common/icon/magnifying-glass.png') 0 0 no-repeat
      background-size cover
  &__head
    position relative
    padding 20px 15px
  &__name
    font-size 1.6rem
  &__place
    font-size 1.0rem
    padding 2.5px 0 0 0
    color #555
    &Icon
      padding 0 3px 0 0
      img
        vertical-align top
  &__author
    color #555
    font-size 1.0rem          
    padding 3px 0 0 0;
    &Icon
      padding 0 3px 0 0
      img
        vertical-align top
  &__grade
    position absolute
    top 50%
    right 15px
    letter-spacing 0.04em
    font-size 1.6rem
    width 2.5em  
    height 2.5em  
    background #125688
    margin-top -1.25em
    display table
    border-radius 30px
    span
      color #fff
      text-align center
      vertical-align middle
      display table-cell
  &__img
    img
      width 100%
      height auto
  &-action
    &__item
      float right
      margin-left 10px
  &__foot
    padding 20px 15px
@media screen and (max-width: 639px)
  .project
    &__searchInput
      width 80%
    &__share
      display none;