/*
  --------------------------------
  Project Register
  --------------------------------
*/
.projectRegister
  padding 0 20px;
  &-form
    &__submit
      width 120px;
      height 120px;
      margin 30px auto 0
  &-preview
    margin-bottom 20px;
    padding-bottom 20px;
    border-bottom 1px solid #aaa
    img
      width 100%
      height auto