/*
  --------------------------------
  Project Edit
  --------------------------------
*/
.projectEdit
  padding 0 20px;
  &-form
    &__item
      margin-top 10px;
      font-size 1.5rem
      vertical-align top
      &:first-child
        margin-top 0px;
      span
        display block
        margin-bottom 5px;
      input[type="text"]
      textarea
        width 100%
        border 1px solid #aaa
        border-radius 5px
        padding 5px;
        background #fff
    &__submit
      width 120px;
      height 120px;
      margin 30px auto 0
  &-preview
    margin-bottom 20px;
    padding-bottom 20px;
    border-bottom 1px solid #aaa
    img
      width 100%
      height auto