/*
  --------------------------------
  Stream
  --------------------------------
*/
.stream
  &__item
    margin-top 50px
    background-color #fff
    border 1px solid #eee
    &:first-child
      margin-top:0px
  &__form
    text-align center
    margin 0 0 15px


