/*
  --------------------------------
  Term
  --------------------------------
*/
.term
  padding 0 20px;
  &__globalTtl
    font-size 1.6rem
    font-weight bold
  &__lead
    margin-top 5px
    font-size 1.2rem
    line-height 1.75em;
  &__items
    margin-top 20px;
  &__item
    margin-top 15px;
    &:first-child
      margin-top 0px
  &__ttl
    font-size 1.4rem
    text-decoration underline
  &__desc
    margin-top 2.5px;
    line-height 1.75em;
    letter-spacing 0.04em
    font-size 1.0rem
    padding-left 0.5em
  &__descExample
    &-items
      margin-top 5px;
      padding-left 0.5em
    &-item
      margin-top 3px;
      &:first-child
        margin-top 0px
  &__btn
    margin-top 30px;