/*
  --------------------------------
  User
  --------------------------------
*/
.user
  position: relative
  min-height 100px
  padding 20px 20px 40px
  
  &__icon
    position: absolute
    top 50%
    right 0
    margin-top -50px
    i
      position: relative
      width: 100px
      height 100px;
      overflow hidden
      display block
      border 1px solid #aaa
      border-radius 200px;
      img
        position: absolute
        top 50%
        left 50%
        transform translate(-50%,-50%)
        max-width 100px;
        max-height 100px;
  &__introduce
    font-size 1.2rem
    width 75%
  &__name
    font-size 3.4rem
    color #333
  &__url
    margin-top 5px;
// @media screen and (max-width: 639px)
