doctype html
html(ng-app='App')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='description', content='Open Projectはクライミングの課題を共有できるサービスです。')
    meta(property='og:title', content='Open Project')
    meta(property='og:description', content='Open Projectはクライミングの課題を共有できるサービスです。')
    meta(property='og:image', content='https://this-is-open-project.herokuapp.com/assets/img/ogp.jpg')
    meta(property='og:url', content='https://this-is-open-project.herokuapp.com/')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='')
    link(rel='stylesheet', href='/assets/css/style.css')
    title
    //if lt IE 9
      script(type='text/javascript', src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
  body
    base(href='/')
    #root
      // header
      header.header(role='banner')
        .header__wrap.cf
          h1.header__logo
            img(src="/assets/img/common/logo_2.png", width="50" height="auto" alt='')
          h2.header__title             
            | Open Project
          div.header__devide
          p.header__category
            pagetitle
      // Global Navigation
      nav.gnav(ui-view='glovalNavigation')
      // Contents
      main.contents
        .stream.fade(ui-view='mainContens')
        .loader__wrap
          .loader 
            | Loading...
      // footer
      footer.footer
        p.footer__license
          | © Open Project. All Rights Reserved.
      pushnotification

    script(type='text/javascript', src='/assets/js/vendor/bundle.js')
    script(type='text/javascript', src='/assets/js/app.js')
