doctype html
html(ng-app='App')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='description', content='')
    meta(property='og:title', content=og_title)
    meta(property='og:description', content=og_description)
    meta(property='og:image', content=og_image)
    meta(property='og:url', content=og_url)
    meta(property='og:type', content='website')
    meta(property='og:site_name', content=og_site_name)
    link(rel='stylesheet', href='/assets/css/style.css')
    title!= og_title
    //if lt IE 9
      script(type='text/javascript', src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
  body
    base(href='/')
    #root
      main.contents
        ul.stream__items.cf
          li.stream__item
            header.project__head.cf
              .project__name!= projectName
              .project__place
                span.project__placeIcon
                  img(src='assets/img/common/icon/placeholder.png', width='13', height='13', alt='')
                != projectPlace
              .project__grade
                span!= projectGrade
              .project__author
                span.project__authorIcon
                  img(src='assets/img/common/icon/avatar.png', width='13', height='13', alt='')
                != projectAuthor
            figure.project__img
              img(src=projectImg, alt='')
      footer.footer
        p.footer__license
          | © Open Project. All Rights Reserved.