@charset 'UTF-8';
@import url('//fonts.googleapis.com/earlyaccess/notosansjapanese.css');
/* sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
audio:not([controls])
{
    display: none;
}
button
{
    overflow: visible;

    -webkit-appearance: button;
}
details
{
    display: block;
}
html
{
    overflow-y: scroll;

    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-text-size-adjust: 100%;
}
input
{
    -webkit-border-radius: 0;
}
input[type='button'],
input[type='reset'],
input[type='submit']
{
    -webkit-appearance: button;
}
input[type='number']
{
    width: auto;
}
input[type='search']
{
    -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}
main
{
    display: block;
}
pre
{
    overflow: auto;
}
progress
{
    display: inline-block;
}
small
{
    font-size: 75%;
}
summary
{
    display: block;
}
svg:not(:root)
{
    overflow: hidden;
}
template
{
    display: none;
}
textarea
{
    overflow: auto;
}
[hidden]
{
    display: none;
}
*,
::before,
::after
{
    box-sizing: inherit;
}
*
{
    font-size: inherit;
    line-height: inherit;
}
::before,
::after
{
    vertical-align: inherit;
    text-decoration: inherit;
}
*,
::before,
::after
{
    border-width: 0;
    border-style: solid;
}
*
{
    margin: 0;
    padding: 0;

    background-repeat: no-repeat;
}
:root
{
    font: 62.5%/1.5 'proxima-nova', 'Helvetica Neue', 'Arial', 'Helvetica', 'Josefin Sans', 'Noto Sans Japanese', 'Yu Gothic', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;

    box-sizing: border-box;

    cursor: default;

    color: #000;
    background-color: #fff;

    text-rendering: optimizeLegibility;
}
a
{
    text-decoration: none;
}
audio,
canvas,
iframe,
img,
svg,
video
{
    vertical-align: middle;
}
button,
input,
select,
textarea
{
    background-color: transparent;
}
button,
input,
select,
textarea
{
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;

    color: inherit;
}
button,
[type='button'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='reset'],
[type='search'],
[type='submit'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
select,
textarea
{
    min-height: 1.5;
}
code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
}
nav ol,
nav ul
{
    list-style: none;
}
select
{
       -moz-appearance: none;
    -webkit-appearance: none;
}
select::-ms-expand
{
    display: none;
}
select::-ms-value
{
    color: currentColor;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
textarea
{
    resize: vertical;
}
::-moz-selection
{
    color: #fff;
    background-color: #b3d4fc;
    text-shadow: none;
}
::selection
{
    color: #fff;
    background-color: #b3d4fc;
    text-shadow: none;
}
[aria-busy='true']
{
    cursor: progress;
}
[aria-controls]
{
    cursor: pointer;
}
[aria-disabled]
{
    cursor: default;
}
[hidden][aria-hidden='false']
{
    position: absolute;

    display: inherit;
    clip: rect(0 0 0 0);
}
[hidden][aria-hidden='false']:focus
{
    clip: auto;
}
h1,
h2,
h3,
h4,
h5,
p,
div,
ul,
li,
header,
article,
section,
main,
nav
{
    margin: 0;
    padding: 0;
}
li
{
    list-style: none;
}
canvas
{
    display: block;
}
html
{
    font-size: 62.5%;

    letter-spacing: .025em;
}
img
{
    vertical-align: top;
}
a
{
    cursor: pointer;
    text-decoration: none;

    color: #125688;
}
.cf:before,
.cf:after
{
    display: table;

    content: ' ';
}
.cf:after
{
    clear: both;
}
html,
body
{
    width: 100%;
    height: 100%;
}
#root
{
    position: relative;

    width: 100%;
    min-height: 100%;
    margin: 0 auto;

    background-color: #fafafa;
}
.loader__wrap
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    min-height: 100%;

    background: rgba(255,255,255,.9);
}
.loader:before,
.loader:after,
.loader
{
    width: 1em;
    height: 1em;

    -webkit-animation: load7 1.8s infinite ease-in-out;
            animation: load7 1.8s infinite ease-in-out;

    border-radius: 50%;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
.loader
{
    font-size: 10px;

    position: relative;

    margin: 80px auto;

    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation-delay: -.16s;
            animation-delay: -.16s;
    text-indent: -9999em;

    color: #125688;
}
.loader:before
{
    left: -1.5em;

    -webkit-animation-delay: -.32s;
            animation-delay: -.32s;
}
.loader:after
{
    left: 1.5em;
}
.loader:before,
.loader:after
{
    position: absolute;
    top: 0;

    content: '';
}
@-webkit-keyframes load7
{
    0%,
    80%,
    100%
    {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40%
    {
        box-shadow: 0 2.5em 0 0;
    }
}
input::-webkit-input-placeholder
{
    color: #aaa;
}
input::-moz-input-placeholder
{
    color: #aaa;
}
input::input-placeholder
{
    color: #aaa;
}
.errorMessage
{
    padding: 5px 0 0 5px;

    color: #f12938;
}
.header
{
    padding: 25px 0;

    border-bottom: 1px solid #eee;
    background-color: #fff;
}
.header__wrap
{
    position: relative;

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}
.header__logo
{
    position: relative;
}
.header__devide
{
    position: absolute;
    top: 52%;
    left: 192px;

    width: 1px;
    height: 20px;
    margin-top: -10px;

    background-color: #262626;
}
.header__title
{
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1em;

    position: absolute;
    top: 50%;
    left: 80px;

    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
    text-decoration: none;

    color: #262626;
}
.header__category
{
    font-size: 13.5px;
    font-size: 1.35rem;
    font-weight: bold;
    line-height: 1em;

    position: absolute;
    top: 52%;
    left: 202px;

    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%);

    color: #125688;
}
.gnav
{
    width: 100%;
    margin-bottom: 20px;

    border-bottom: 1px solid #eee;
    background-color: #fff;
}
.gnav__items
{
    position: relative;

    overflow-x: scroll;

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;

    text-align: left;
    letter-spacing: -.4em;
}
.gnav__item
{
    font-size: 1.5rem;

    display: inline-block;

    margin-left: 20px;
    padding: 15px 0;

    cursor: pointer;
    -webkit-transition: all .75s 0s cubic-bezier(.77, 0, .175, 1);
            transition: all .75s 0s cubic-bezier(.77, 0, .175, 1);
    letter-spacing: normal;
}
.gnav__item:hover
{
    -webkit-transition: all .75s 0s cubic-bezier(.77, 0, .175, 1);
            transition: all .75s 0s cubic-bezier(.77, 0, .175, 1);

    opacity: .5;
}
.gnav__item:first-child
{
    margin-left: 0;
}
.pushNotification.ng-enter
{
    -webkit-transition: all .75s 0s cubic-bezier(.77, 0, .175, 1);
            transition: all .75s 0s cubic-bezier(.77, 0, .175, 1);
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
}
.pushNotification.ng-enter.ng-enter-active
{
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
}
.pushNotification.ng-leave
{
    -webkit-transition: all .75s 0s cubic-bezier(.77, 0, .175, 1);
            transition: all .75s 0s cubic-bezier(.77, 0, .175, 1);
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
}
.pushNotification.ng-leave.ng-leave-active
{
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
}
.contents
{
    position: relative;

    overflow: hidden;

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.button_type_circle a,
.button_type_circle button
{
    position: relative;

    display: table;

    width: 120px;
    height: 120px;

    cursor: pointer;
}
.button_type_circle a:before,
.button_type_circle button:before
{
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 120px;
    height: 120px;

    content: '';

    border-width: 2px;
    border-style: solid;
    border-color: #125688;
    border-radius: 50%;
}
.button_type_circle a span,
.button_type_circle button span
{
    font-size: 12px;

    position: relative;
    z-index: 1;

    display: table-cell;

    width: 120px;
    padding: 0 9px;

    text-align: center;
    vertical-align: middle;

    color: #125688;
}
.button_type_square
{
    width: 100%;

    text-align: center;
}
.button_type_square a,
.button_type_square button
{
    font-size: 1.3rem;

    display: block;

    width: 100%;
    padding: 12px 8px 10px;

    cursor: pointer;

    color: #fff;
    border: 1px solid #edeeee;
    border-radius: 5px;
    background: #125688;
}
.form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-top: 15px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            box-orient: vertical;
            box-direction: normal;
}
.form__item
{
    font-size: 1.5rem;

    margin-top: 10px;

    vertical-align: top;
}
.form__item:first-child
{
    margin-top: 0;
}
.form__item span
{
    font-size: 1.5rem;

    display: block;

    margin-bottom: 5px;
}
[type='email'],
[type='text'],
[type='password'],
textarea
{
    font-size: 1.2rem;

    width: 100%;
    padding: 9px 8px 7px;

    border: 1px solid #edeeee;
    border-radius: 5px;
    background: #fdfdfd;
}
select
{
    font-size: 1.2rem;

    padding: 9px 8px 7px;

    border: 1px solid #edeeee;
    border-radius: 5px;
    background: #fdfdfd;
}
input[type='checkbox']
{
    margin-right: 5px;
}
.item_type_radio
{
    font-size: 1.1rem;
}
.ranks_type_parallel__items
{
    margin-top: 40px !important;

    text-align: center;
}
.ranks_type_parallel__item
{
    display: inline-block;

    margin: 0 0 0 20px !important;
}
.ranks_type_parallel__item:first-child
{
    margin: 0 0 0 0 !important;
}
.footer
{
    width: 100%;
    max-width: 600px;
    margin: 50px auto 0;
    padding-bottom: 30px;
}
.footer__license
{
    text-align: center;
}
.pushNotification
{
    font-size: 1.3rem;

    position: fixed;
    top: 0;
    right: 0;

    width: 100%;
    padding: 15px;

    text-align: center;

    color: #fff;
    background: #125688;
}
.pushNotification__debug
{
    position: fixed;
    right: 0;
    bottom: 0;

    color: #fff;
}
.pushNotification__debugBtn1,
.pushNotification__debugBtn2
{
    float: left;

    padding: 20px;

    background: #000;
}
.pushNotification__debugBtn1
{
    border-right: 1px solid #fff;
}
.pushNotification.ng-enter
{
    -webkit-transition: all .45s 5s cubic-bezier(.77, 0, .175, 1);
            transition: all .45s 5s cubic-bezier(.77, 0, .175, 1);

    opacity: 0;
}
.pushNotification.ng-enter.ng-enter-active
{
    -webkit-transition: all .45s 0s cubic-bezier(.77, 0, .175, 1);
            transition: all .45s 0s cubic-bezier(.77, 0, .175, 1);

    opacity: 1;
}
@-webkit-keyframes load7
{
    0%,
    80%,
    100%
    {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40%
    {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7
{
    0%,
    80%,
    100%
    {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40%
    {
        box-shadow: 0 2.5em 0 0;
    }
}
.login
{
    margin: 0 auto;
    padding: 5% 20px;

    background: #fff;
}
.login-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            box-orient: vertical;
            box-direction: normal;
}
.login-form__item
{
    margin-top: 15px;
}
.login-form__item:first-child
{
    margin-top: 0;
}
.login__createUser
{
    margin-top: 10px;
}
.login__message
{
    font-size: 1.2rem;

    padding-top: 15px;

    color: #f12938;
}
.user
{
    position: relative;

    min-height: 100px;
    padding: 20px 20px 40px;
}
.user__icon
{
    position: absolute;
    top: 50%;
    right: 0;

    margin-top: -50px;
}
.user__icon i
{
    position: relative;

    display: block;
    overflow: hidden;

    width: 100px;
    height: 100px;

    border: 1px solid #aaa;
    border-radius: 200px;
}
.user__icon i img
{
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 100px;
    max-height: 100px;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.user__introduce
{
    font-size: 1.2rem;

    width: 75%;
}
.user__name
{
    font-size: 3.4rem;

    color: #333;
}
.user__url
{
    margin-top: 5px;
}
.accountRegister
{
    margin: 0 auto;
    padding: 5% 20px;

    background: #fff;
}
.accountRegister-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-top: 15px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            box-orient: vertical;
            box-direction: normal;
}
.accountRegister-form__item
{
    margin-top: 15px;
}
.accountRegister-form__item:first-child
{
    margin-top: 0;
}
.accountRegister__message
{
    font-size: 1.2rem;

    padding-top: 15px;

    color: #f12938;
}
.accountRegister .tca
{
    text-align: center;
}
.accountEdit
{
    padding: 0 20px;
}
.accountEdit-preview
{
    width: 200px;
    margin-bottom: 10px;
}
.accountEdit-preview img
{
    width: 100%;
    height: auto;
}
.accountEdit__message
{
    font-size: 1.2rem;

    padding-top: 15px;

    color: #f12938;
}
.accountEdit-form__item
{
    font-size: 1.5rem;

    margin-top: 10px;

    vertical-align: top;
}
.accountEdit-form__item:first-child
{
    margin-top: 0;
}
.accountEdit-form__item span
{
    display: block;

    margin-bottom: 5px;
}
.accountEdit-form__item input[type='text'],
.accountEdit-form__item input[type='email'],
.accountEdit-form__item input[type='password'],
.accountEdit-form__item textarea
{
    width: 100%;
    padding: 5px;

    border: 1px solid #aaa;
    border-radius: 5px;
    background: #fff;
}
.accountEdit-form__submit
{
    width: 120px;
    height: 120px;
    margin: 30px auto 0;
}
.project__searchInput
{
    position: relative;

    overflow: hidden;

    width: 50%;
    margin: 0 auto;

    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #eee;
}
.project__searchInput input
{
    font-size: 1.3rem;

    position: relative;

    width: 100%;
    height: 2.5em;
    padding: 0 2%;
    padding: 0 0 0 26px;

    color: #555;
}
@include placeholderColor(#000);
.project__searchInput:before
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 7px;

    display: block;

    width: 14px;
    height: 14px;
    margin-top: -8px;

    content: '';

    background: url('../img/common/icon/magnifying-glass.png') 0 0 no-repeat;
    background-size: cover;
}
.project__head
{
    position: relative;

    padding: 20px 15px;
}
.project__name
{
    font-size: 1.6rem;
}
.project__place
{
    font-size: 1rem;

    padding: 2.5px 0 0 0;

    color: #555;
}
.project__placeIcon
{
    padding: 0 3px 0 0;
}
.project__placeIcon img
{
    vertical-align: top;
}
.project__author
{
    font-size: 1rem;

    padding: 3px 0 0 0;

    color: #555;
}
.project__authorIcon
{
    padding: 0 3px 0 0;
}
.project__authorIcon img
{
    vertical-align: top;
}
.project__grade
{
    font-size: 1.6rem;

    position: absolute;
    top: 50%;
    right: 15px;

    display: table;

    width: 2.5em;
    height: 2.5em;
    margin-top: -1.25em;

    letter-spacing: .04em;

    border-radius: 30px;
    background: #125688;
}
.project__grade span
{
    display: table-cell;

    text-align: center;
    vertical-align: middle;

    color: #fff;
}
.project__img img
{
    width: 100%;
    height: auto;
}
.project-action__item
{
    float: right;

    margin-left: 10px;
}
.project__foot
{
    padding: 20px 15px;
}
@media screen and (max-width: 639px)
{
    .project__searchInput
    {
        width: 80%;
    }
    .project__share
    {
        display: none;
    }
}
.projectEdit
{
    padding: 0 20px;
}
.projectEdit-form__item
{
    font-size: 1.5rem;

    margin-top: 10px;

    vertical-align: top;
}
.projectEdit-form__item:first-child
{
    margin-top: 0;
}
.projectEdit-form__item span
{
    display: block;

    margin-bottom: 5px;
}
.projectEdit-form__item input[type='text'],
.projectEdit-form__item textarea
{
    width: 100%;
    padding: 5px;

    border: 1px solid #aaa;
    border-radius: 5px;
    background: #fff;
}
.projectEdit-form__submit
{
    width: 120px;
    height: 120px;
    margin: 30px auto 0;
}
.projectEdit-preview
{
    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #aaa;
}
.projectEdit-preview img
{
    width: 100%;
    height: auto;
}
.projectRegister
{
    padding: 0 20px;
}
.projectRegister-form__submit
{
    width: 120px;
    height: 120px;
    margin: 30px auto 0;
}
.projectRegister-preview
{
    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #aaa;
}
.projectRegister-preview img
{
    width: 100%;
    height: auto;
}
.term
{
    padding: 0 20px;
}
.term__globalTtl
{
    font-size: 1.6rem;
    font-weight: bold;
}
.term__lead
{
    font-size: 1.2rem;
    line-height: 1.75em;

    margin-top: 5px;
}
.term__items
{
    margin-top: 20px;
}
.term__item
{
    margin-top: 15px;
}
.term__item:first-child
{
    margin-top: 0;
}
.term__ttl
{
    font-size: 1.4rem;

    text-decoration: underline;
}
.term__desc
{
    font-size: 1rem;
    line-height: 1.75em;

    margin-top: 2.5px;
    padding-left: .5em;

    letter-spacing: .04em;
}
.term__descExample-items
{
    margin-top: 5px;
    padding-left: .5em;
}
.term__descExample-item
{
    margin-top: 3px;
}
.term__descExample-item:first-child
{
    margin-top: 0;
}
.term__btn
{
    margin-top: 30px;
}
.stream__item
{
    margin-top: 50px;

    border: 1px solid #eee;
    background-color: #fff;
}
.stream__item:first-child
{
    margin-top: 0;
}
.stream__form
{
    margin: 0 0 15px;

    text-align: center;
}
.create__item
{
    margin-top: 60px;

    border: 1px solid #edeeee;
    background: #fff;
}
.create__item:first-child
{
    margin-top: 0;
}
.create__imageEditor
{
    position: relative;
}
.create__iconImg
{
    position: absolute;
    top: 0;
    left: 0;
}
.create__iconImgInner
{
    position: relative;
}
.create__imageBase img
{
    width: 100%;
}
.create__itemHead
{
    display: none;
}
.create__generate__btn
{
    display: none;
}
.create__editorCtrl
{
    display: none;
    overflow-x: scroll;
    overflow-y: hidden;

    width: 100%;
    height: 120px;

    overflow-scrolling: touch;
}
.create__name
{
    font-size: 16px;
    font-size: 1.6rem;

    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.create__name input
{
    font-size: 14px;

    z-index: 2;

    width: 90%;
    height: 40px;
    padding: 3px 10px 3px 26px;

    border: solid 1px #edeeee;
    border-radius: 15px;
    outline: none;
    background: #e5e5e5;
}
.create__editKey
{
    font-size: 10.5px;
    font-size: 1.05rem;

    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: 20px;

    text-decoration: underline;
}
.create__editKey input
{
    font-size: 14px;

    z-index: 2;

    width: 90%;
    height: 40px;
    padding: 3px 10px 3px 26px;

    border: solid 1px #edeeee;
    border-radius: 15px;
    outline: none;
    background: #e5e5e5;
}
.create__setterName
{
    font-size: 10.5px;
    font-size: 1.05rem;

    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: 20px;

    text-decoration: underline;
}
.create__setterName input
{
    font-size: 14px;

    z-index: 2;

    width: 90%;
    height: 40px;
    padding: 3px 10px 3px 26px;

    border: solid 1px #edeeee;
    border-radius: 15px;
    outline: none;
    background: #e5e5e5;
}
.create__grade
{
    font-size: 14px;
    font-size: 1.4rem;

    margin-bottom: 20px;
    margin-left: 20px;
}
.create__grade select
{
    font-size: 14px;

    z-index: 2;

    height: 40px;
    padding: 3px 10px 3px 26px;

    border: solid 1px #edeeee;
    border-radius: 15px;
    outline: none;
    background: #e5e5e5;
}
.create__imageInput
{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.create__imageInput div
{
    font-size: 10px;

    position: relative;

    display: inline-block;
    overflow: hidden;

    padding: 7px 20px;

    color: #125688;
    border: 3px solid #125688;
    border-radius: 30px;
    background: none;
}
.create__imageInput form
{
    margin-top: 10px;
}
.create__imageInput form input[type=file]
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;

    opacity: 0;
}
.create__iconList
{
    width: 1920px;

    text-align: center;
}
.create__iconItem
{
    display: inline-block;

    width: 120px;
    padding: 10px;
}
.create__iconItem img
{
    width: 100%;
}
.create .type_of_kante:after
{
    content: '\000A';
    white-space: wrap;
}
.create__iconItem--active
{
    border: 5px solid #4090db !important;
}
.create__btns
{
    width: 280px;
    width: 120px;
    margin: 50px auto 0;
    padding-bottom: 50px;
}
.create__registerBtn
{
    position: relative;

    display: none;
    float: left;

    width: 120px;
    height: 120px;
}
.create__registerBtn:before
{
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 120px;
    height: 120px;

    content: '';

    border-width: 2px;
    border-style: solid;
    border-color: #4090db;
    border-radius: 50%;
}
.create__registerLink
{
    font-size: 12px;

    position: relative;
    z-index: 1;

    display: table-cell;

    padding: 0 9px;

    text-align: center;
    vertical-align: middle;

    color: #4090db;
}
.create__backBtn
{
    position: relative;

    display: table;

    width: 120px;
    height: 120px;
}
.create__backBtn:before
{
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 120px;
    height: 120px;

    content: '';

    border-width: 2px;
    border-style: solid;
    border-color: #4090db;
    border-radius: 50%;
}
.create__backLink
{
    font-size: 12px;

    position: relative;
    z-index: 1;

    display: table-cell;

    padding: 0 9px;

    text-align: center;
    vertical-align: middle;

    color: #4090db;
}
.overlay
{
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
}
.overlay__bg
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(255,255,255,.8);
}
.overlay__result
{
    position: relative;

    text-align: center;
}
.overlay__resultImg
{
    display: none;

    margin: 0 auto;
}
.overlay__result canvas
{
    position: absolute;

    visibility: hidden;

    margin: 0 auto;
}
.overlay__closeBtn
{
    font-size: 30px;
    font-size: 3rem;
    font-weight: bold;

    position: relative;

    margin: 70px 0 20px 0;

    cursor: pointer;
    text-align: center;

    color: #125688;
}
@media screen and (max-width: 639px)
{
    .create
    {
        padding-top: 0;
    }
    .create__item
    {
        border: 0 solid #edeeee !important;
        background: none !important;
    }
    .create__name input
    {
        width: 83%;
    }
    .create__setterName input
    {
        width: 83%;
    }
    .create__grade
    {
        margin-top: 25px;
    }
    .create__itemHead
    {
        background: #fafafa;
    }
}
